[submodule "yellowstone-api"]
	path = yellowstone-api
	url = https://github.com/rpcpool/yellowstone-api
[submodule "yellowstone-grpc"]
	path = yellowstone-grpc
	url = https://github.com/rpcpool/yellowstone-grpc.git
